{% extends "books/base.html" %}

{% load static %}

{% block title %}
	All Exchanges ToDo
{% endblock %}

{% block body %}
	<h1>All Exchanges ToDo</h1>

	<table>
        <tr>
            <th>King</th>
            <th>Book</th>
            <th>Meeting?</th>
            <th>Queen</th>
            <th>Book</th>
            <th>Meeting?</th>
        </tr>
        {% for e in exchanges %}
            <tr>
                <td> {{ e.king }} </td>
                <td> {{ e.kingbook }} </td>
                <td> {{ e.kingmeeting }} </td>
                <td> {{ e.queen }} </td>
                <td> {{ e.queenbook }} </td>
                <td> {{ e.queenmeeting }} </td>                
            </tr>
        {% endfor %}
	</table>


{% endblock %}
