{% extends "books/base.html" %}

{% load static %}

{% block title %}
	All Exchanges ToDo
{% endblock %}

{% block body %}
	<h1>All Exchanges ToDo</h1>

	<table>
        <tr>
            <th>Person</th>
            <th>Book</th>
            <th>Person</th>
            <th>Book</th>
        </tr>
        {% for match in matches %}
            <tr>
                {% for element in match %}
                    <td> {{ element }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
	</table>

{% endblock %}
