{% extends "books/base.html" %}

{% load static %}

{% block title %}
	All Exchanges ToDo
{% endblock %}

{% block body %}
	<h1>All Exchanges ToDo</h1>


	<ul>
		{% for e in exchanges %}
			<li>
				{% if e.meeting %}
					--------------------------------------------------> <span class="exchanged"> {{ e }} </span>
				{% else %}
					<span class="notexchanged"> {{ e }} </span>
				{% endif %}
				
			</li>
			<br>
		{% empty %}
				<li> No Exchanges to do.</li>
		{% endfor %}
	</ul>

{% endblock %}
