{% extends "books/base.html" %}

{% block title %}
	Hero Time
{% endblock %}

{% block body %}
	<h1>Time for {{ person }} to be a Secret Santa for someone.</h1>
    <h3>It's Hero Time.</h3>
    <ul>
    {% for wish in wishes_to_fulfill %}
        <li>
            <p>Book: {{ wish.book }}</p>
            <p>Requested by: {{ wish.wisher }}</p>
            <p>Desire Level: {{ wish.desire_lvl }}</p>
            <p><b>Fulfilled or Not?: {{ wish.fulfilled }} </b></p>
        </li>
    {% empty %}
        <li>No Wishes to Fulfill.</li>
    {% endfor %}
    </ul>

	<hr>
	<a href="{% url 'index' %}">Back to All Books List</a>


{% endblock %}
