{% extends "books/base.html" %}

{% load static %}

{% block title %}
	All Available Books
{% endblock %}

{% block body %}
	<h1>The Collective Library 
		<span class="matchhighlight">Number of People: {{ people_number }} 
		--------- Number of Books: {{ book_number }}
		</span> 
	</h1>
	
	<p class="intro"> Have an old book lying around? Wanna read a new one? Well, exchange your old book for a new one from the Library.
				Make 3 to 7 wishes for books that you want. And, after 2/3 people have made their wishes, a match will be made for you.
	</p>
 	
	<br>

	<div class="right">
		<h4>Top Contributor</h4>
		<h4>(Most wishes fulfilled)</h4>
		<img class="image" src="{% static 'img/archer.jpg' %}">
		<p>Name: Archer</p>
	</div>

	<ul>
		{% for book in books %}
			<li>
				<a href="{% url 'book' book.id %}">{{ book }}</a> 

				{% if book.available %}
					..................................<span class="available">Yep</span>
				{% else %}
					..................................<span class="notavailable">Nope</span>
				{% endif %}		
			</li>
		{% endfor %}
	</ul>

{% endblock %}
