{% extends "books/base.html" %}

{% load static %}
{% block title %}
	Exchange ToDo for {{ person.name }}
{% endblock %}

{% block body %}
	<h1>ToDo Exchanges for {{ person.name }} </h1>

    <ul>
        {% for e in exchanges %}
            <li><span class="kingqueen"> {{ e }} </span> </li>
            <li class="center available">exchange "{{ e.kingbook }}"" for "{{ e.queenbook }}"</li>

            <div class="left">
        		<h4>(Let the exchange begin.)</h4>
    
                {% if e.king.photo %}
            		<img class="image" src="{{ e.king.photo.url }}">
                {% endif %}
    
        		<p>Name: {{ e.king }}</p>
                <p>Book: {{ e.kingbook }}</p>
        	</div>

            <div class="right">
        		<h4>(Let the exchange begin.)</h4>
    
                {% if e.queen.photo %}
            		<img class="image" src="{{ e.queen.photo.url }}">
                {% endif %}

        		<p>Name: {{ e.queen }}</p>
                <p>Book: {{ e.queenbook }}</p>
        	</div>

            <li class="center">

                <span class="notavailable center">If you've met in person and made the exchange, set your meeting to True. After both set their meeting to True, the change in the book ownership will be reflected in the Virtual Library.</span>
                <form action="{% url 'meeting_done' person.id %}" method="post">
                    {% csrf_token %}

                    Got the Book?
                    <select name="exchange_id">
                        <option value="{{ e.id }}"> {{ e.queenbook }} </option>
                    </select>
                    <br>
                    Meeting Done: 
                    <input type="checkbox" name="meeting" checked>

                    <input type="submit" value="Check if meeting done">
                </form>

            </li>

        {% empty %}
            <li> No matches yet.</li>
        {% endfor %}
    </ul>



{% endblock %}
