{% extends "books/base.html" %}

{% load static %}
{% block title %}
	Matches for {{ person.name }}
{% endblock %}

{% block body %}
	<h1>The Matches for {{ person.name }} </h1>

    <ul>
        {% for wish in matched_wishes %}
            <li><span class="kingqueen">Exchange your book "{{ mybook }}" ---------------to get----------------- "{{ wish.book }}" from {{ wish.angel }}</span> </li>

            <div class="left">
        		<h4>Exchange Ready</h4>
        		<h4>(Let the exchange begin.)</h4>
        		<img class="image" src="{% static 'img/archer.jpg' %}">
        		<p>Name: Aagya</p>
        	</div>

            <div class="right">
        		<h4>Exchange Ready</h4>
        		<h4>(Let the exchange begin.)</h4>
        		<img class="image" src="{% static 'img/archer.jpg' %}">
        		<p>Name: Mingmar</p>
        	</div>

        {% empty %}
            <li> No matches yet.</li>
        {% endfor %}
    </ul>


	<hr>
	<a href="{% url 'index' %}">Back to All Books List</a>


{% endblock %}
