{% extends "books/base.html" %}

{% load static %}
{% block title %}
	Matches for {{ person.name }}
{% endblock %}

{% block body %}
	<h1>The Matches for {{ person.name }} </h1>

    <ul>
        {% for wish in matched_wishes %}
            <li><span class="kingqueen">Exchange your book "{{ mybook }}" ---------------to get----------------- "{{ wish.book }}" from {{ wish.angel }}</span> </li>

            <div class="left">
                <h4>Let the exchange begin.</h4>
    
                {% if wish.wisher.photo %}
                    <img class="image" src="{{ wish.wisher.photo.url }}">
                {% endif %}
    
                <p>Name: {{ wish.wisher }}</p>
                <p>Book: {{ mybook }}</p>
            </div>

            <div class="right">
                <h4>Let the exchange begin.</h4>
    
                {% if wish.angel.photo %}
                    <img class="image" src="{{ wish.angel.photo.url }}">
                {% endif %}

                <p>Name: {{ wish.angel }}</p>
                <p>Book: {{ wish.book }}</p>
            </div>

        {% empty %}
            <li> No matches yet.</li>
        {% endfor %}
    </ul>


{% endblock %}
