{% extends "books/base.html" %}

{% block title %}
	Wishes of {{ person.name }}
{% endblock %}

{% block body %}
	<h1>The Wish List of {{ person.name }} </h1>

    <ul>
        {% for wish in wishes %}
            <li>
                <span class="kingqueen">'{{ wish.book }}' from {{ wish.angel }} </span>
                <span class="wish"> ------------ Rank : {{ wish.rank }} ---------------> </span>
                
                {% if wish.fulfilled %}
                    --------------------------> <span class="fulfilled">  Fulfilled: {{ wish.fulfilled }} </span> 
                {% else %}
                    <span class="notfulfilled">Fulfilled: {{ wish.fulfilled }} </span>
                {% endif %}

            </li>
        
        {% empty %}
            <li> No wishes made yet.</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Make a New Wish</h2>
	<h4 class="center error">You can only make 3 wishes</h4>
    <form action="{% url 'addwish' person.id %}" method="post">
		{% csrf_token %}
		Book:
            <select name="book_id">
    			{% for nbook in newbooks %}
    				<option value="{{ nbook.id }}"> {{ nbook }} </option>
                {% empty %}
                    <option value="null" class="error"> Sorry there are no new books to wish upon.</option>
    			{% endfor %}
    		</select>
        Rank Order (Choose Between 1 and 3 and don't repeat):
			<select name="rank">
				{% for rank in available_ranks %}
    				<option value="{{ rank }}"> {{ rank }} </option>
                {% empty %}
                    <option value="null" class="error"> Sorry all ranking done for now. Can't add</option>
    			{% endfor %}

		<input type="submit" value="Make Wish">
	</form>


	<hr>
	<a href="{% url 'index' %}">Back to All Books List</a>


{% endblock %}
